<h2>Films</h2>
<ul id="films-index">
	<% @films.each do |film| %>
		<li>
			<%= link_to film.nom, film %>
			<%= check_box_tag "checked_film_#{film.id}", nil, film.checked, :'data-id' => film.id %>		
		</li>
	<% end %>
	<%= link_to 'New Film', new_film_path %>
</ul>

<h2>Séries</h2>
<ul id="series-index">
	<% @series.each do |series| %>
		<li>
			<%= link_to series.nom, series %>
			<%= check_box_tag "checked_series_#{series.id}", nil, series.checked, :'data-id' => series.id %>		
		</li>
	<% end %>
	<%= link_to 'New Series', new_series_path %>
</ul>

<h2>Documentaires</h2>
<ul id="documentaires-index">
	<% @documentaires.each do |documentaire| %>
		<li>
			<%= link_to documentaire.nom, documentaire %>
			<%= check_box_tag "checked_documentaire_#{documentaire.id}", nil, documentaire.checked, :'data-id' => documentaire.id %>		
		</li>
	<% end %>
	<%= link_to 'New Documentaire', new_documentaire_path %>
</ul>
